/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* ============== VARIABLES CSS ============== */
:root {
    /* Colors */
    --hue-color: 240; /* Blue 240 / Green 154 / Orange 25 / */

    --first-color: hsl(var(--hue-color), 53%, 49%);
    --title-color: hsl(var(--hue-color), 53%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 24%, 94%);

    /* Font and typography */
    --body-font: 'Poppins', sans-serif;
    --large-font-size: 3rem;
    --medium-font-size: .813rem;
    --small-font-size: .75rem;
    --micro-font-size: .625rem;

    /* Font weight */
    --medium-font-weight: 500;

    /* Margins Bottom */
    --mb-0-25: .25rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2-5: 2.5rem;

    /* z index */
    --z-normal: 1;
    --z-tooltip: 10;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --large-font-size: 3.5rem;
        --medium-font-size: .875rem;
        --small-font-size: .813rem;
        --micro-font-size: .75rem;
    }
}

/* ============== BASE ============== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
}

/* ============== REUSABLE CSS CLASSES ============== */
.container {
    max-width: 968px;
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
}

.grid {
    display: grid;
}